.listItem__wrapper {
    list-style: none;
    padding: 50px 30px;
    display: flex;
    align-items: center;
}

.listItem__image {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-right: 30px;
    border-radius: 50%;
}

.listItem__name {
    margin: 0;
    color: #2ca59b;
    font-weight: 700;
}

.listItem__description {
    margin: 10px 0 20px;
    font-weight: 300;
}

.listItem__button {
    padding: 7px 12px;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    background: none;
    border: 2px solid  #2ca59b;
    color: #2ca59b;
}